<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WanderLust: Your Dream Destination is Here!!</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/rating.css" />
    <link rel="stylesheet" href="/css/responsive.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600&family=Poppins:wght@500&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://api.mapbox.com/mapbox-gl-js/v3.2.0/mapbox-gl.css"
      rel="stylesheet"
    />
    <script src="https://api.mapbox.com/mapbox-gl-js/v3.2.0/mapbox-gl.js"></script>
  </head>
  <body>
    <%-include("alert.ejs")%> <%-include("navbar.ejs")%>
  </body>
</html>
