<footer>
    <div class="f-socials-links">
     <a href="https://www.facebook.com/profile.php?id=100035353590496" target="_blank"><i class="fa-brands fa-square-facebook"></i></a>
     <a href="https://www.instagram.com/akash_mishra_1507/" target="_blank"><i class="fa-brands fa-square-instagram"></i></a>
     <a href="https://www.linkedin.com/in/akash-mishra-8b695222a/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
    </div>
    <div class="f-comapny-name">&copy;WanderLust Private Ltd.</div>
   <div class="f-info-links">
        <a href="https://policies.google.com/privacy" target="_blank">Privacy</a>
        <a href="https://policies.google.com/terms?hl=en-US" target="_blank">Terms</a>
   </div>
</footer>
<script src="/js/script.js"></script>
</body>
</html>