<%- include("../includes/boilerplate.ejs") %>
<div class="signup-form-box">
  <h2 style="text-align: center">Login</h2>
  <form action="/login" method="post" class="signup-form">
    <label for="username">Username</label>
    <input
      type="text"
      name="username"
      id="username"
      placeholder="Enter your username"
      required
    />
    <label for="login-pass">Password</label>
    <div style="position: relative;">
      <input type="password" name="password" id="login-pass" placeholder="Enter your password" style="width: 100%" required>
      <i class="fa-solid fa-eye" onclick="loginPassClickHandler(event)"></i>
    </div>

    <button type="submit" class="add-btn signup-btn">Login</button>
  </form>
  <div class="flex">
    <hr/>
    <span class="or-text">OR</span>
    <hr/>
  </div>
  <h4>Don't have WanderLust account? Create Now!!</h4>
  <button class="add-btn" style="margin-top: 5px">
    <a href="/signup" style="text-decoration: none; color: white">Signup</a>
  </button>
</div>

<%- include("../includes/footer.ejs") %>
